@font-face {
    font-family: "Chillax";
    src: url("../fonts/Chillax-Medium.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
@font-face {
  font-family: "Signatura";
  src: url("../fonts/Signaturia-MApap.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

/* SHARED STYLE */
* {
  font-family: "Signatura";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  max-width: 100vw;
  min-height: 100vh;
}
  
/* Display Flex */
nav,
button,
.aboutPage,
.aboutUs,
.aboutContainer,
.aboutContent,
.menuPage,
.menuContent,
.coffeeContainer,
.coffeeMenu,
.ics-container {
  display: flex;
}

/* Align-items - center */
nav,
.aboutContainer,
.aboutContent,
.menuContent,
.coffeeContainer,
.ics-container {
  align-items: center;
}

.aboutPage {
  align-items: center;
  justify-content: center;
}

header,
.homePage,
#content,
.oneMoreCoffeeImg {
  max-width: 100%;
}

/* Page Structure */
.aboutContent,
.menuContent {
  justify-content: center;
  margin: 230px 0 50px 0;
}


/* Page Background */
.aboutPage,
.menuPage,
.contactPage {
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Page Container */
.aboutUs,
.coffeeMenu,
.ourLocations {
  flex-direction: column;
  height: max-content;
  background-color: rgba(109, 108, 108, 0.5);
  border: 1px solid #333;
  border-radius: 20px;
}

/* Content Container */
.aboutContainer,
.coffeeContainer {
  margin: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(68, 68, 68, 0.95);
  box-shadow: 0px 0px 4px 2px #fff;
  height: max-content;
  max-width: 100%;
}

/* NAVBAR */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 80px;
  display: flex;
  justify-content: center;
  min-height: 70px;
  height: 100px;
  background-color: rgba(109, 108, 108, 0.5);
}

nav {
  justify-content: center;
  height: 100%;
  width: 100%;
}
  
button {
  padding: 5px;
  margin: 20px;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  background: none;
  border: none;
}
  
.home:hover,
.about:hover,
.menu:hover,
.location:hover,
.contact:hover {
  color: rgb(235, 133, 0);
  cursor: pointer;
  font-size: 3.1rem;
}

.active {
  color: rgb(0, 185, 43);
}

/* HOME PAGE */
.homePage {
  height: 100vh;
  background-image: url("../img/oneMoreCoffeeCup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* ABOUT PAGE */
.aboutPage {
  background-image: url("../img/oneMoreStreet.jpg");
}

.aboutUs {
  width: 90vw;
  max-width: 1000px;
  margin: 20px 0 50px 0;
}

.aboutContainer > img {
  padding: 20px 0 20px 20px;
}

/* .aboutContainer {
  margin: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(68, 68, 68, 0.95);
  box-shadow: 0px 0px 4px 2px #fff;
  height: max-content;
  max-width: 100%;
} */

.aboutTextContainer {
  flex-direction: column;
  font-family: "Chillax";
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.aboutTextContainer > h3,
.aboutTextContainer > p {
  font-family: "Chillax";
  font-style: italic;
}

.aboutTextContainer > h3 {
  font-size: 1.5rem;
}

/* MENU PAGE */
.menuPage {
  background-image: url("../img/oneMoreMenu.jpg");
}

.coffeeMenu {
  width: 90vw;
  max-width: 800px;
  margin: 20px 0 50px 0;
}

/* .coffeeContainer {
  margin: 20px;
  color: #fff;
  background-color: rgba(109, 108, 108, 0.5);
  height: max-content;
  max-width: 100%;
} */

.coffeeContainer > img {
  width: 10vw;
  max-width: 60px;
  border-radius: 50%;
  margin: 20px;
}

.menuTextContainer {
  width: 60vw;
  max-width: 640px;
}

.price,
.menuTextContainer > h3,
.menuTextContainer > p {
  font-family: "Chillax";
  font-style: italic;
}

.price,
.menuTextContainer > h3 {
  font-size: 1.5rem;
}

.price {
  width: 30vw;
  max-width: 100px;
  padding-right: 10px;
  text-align: end;
  margin: 0 auto;
}

/* LOCATIONS */
.locationPage {
  position: relative;
  max-height: 100%;
  background-image: url("../img/locationBkg.jpg");
}

/* CONTACT PAGE */
.contactPage {
  background-image: url("../img/oneMoreContact.jpg");
}

/* FOOTNOTE */
.ics-container {
  justify-content: end;
  gap: 5px;
  position: fixed;
  bottom: 0;
  right: 10px;
}
  
.ics-img {
  height: 25px;
}
  
.ics-p {
  color: #fff;
  font-family: "Chillax";
  font-style: italic;
}

/* MEDIA QUERIES */
@media (max-width: 880px) {
  .aboutTextContainer {
   height: 200px;
  }
  .aboutContainer > img {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 750px) {
  .aboutTextContainer {
   height: 250px;
  }
  .aboutTextContainer > h3 {
    font-size: 1.3rem;
  }
  .aboutTextContainer > p {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .aboutContainer {
   flex-direction: column;
  }
  .aboutContainer > img {
    padding: 20px 20px 0 20px;
    height: 65vw;
    width: 90vw;
    max-width: 100%;
    overflow: hidden;
  }
  .price,
  .menuTextContainer > h3 {
    font-size: 1.3rem;
  }
  .menuTextContainer > p {
    font-size: 1rem;
  }
}