@font-face {
    font-family: "Chillax";
    src: url("../fonts/Chillax-Medium.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  
@font-face {
  font-family: "Signatura";
  src: url("../fonts/Signaturia-MApap.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

/* SHARED STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
  max-width: 100vw;
  min-height: 100vh;
}

/* Hidden elements */
.emailContainer.hidden,
.mapContainer.hidden {
  display: none;
}
  
/* Display Flex */
nav,
button,
.aboutPage,
.aboutUs,
.aboutContainer,
.aboutContent,
.menuPage,
.menuContent,
.coffeeContainer,
.coffeeMenu,
.locationPage,
.locationContent,
.ourLocations,
.videoContainer,
.locationContainer,
.cafeLocationContainer,
.textContainer,
.iconContainer,
.locationTextContainer,
.emailContainer,
.mapContainer,
.closeEmailIconContainer,
.closeMapIconContainer,
.contactPage,
.ics-container {
  display: flex;
}

/* Align-items - center */
nav,
.aboutContainer,
.aboutContent,
.menuContent,
.coffeeContainer,
.locationContainer,
.cafeLocationContainer,
.textContainer,
.iconContainer,
.aboutContent,
.locationPage,
/* .locationContent, */
.ics-container {
  align-items: center;
}

.aboutPage {
  align-items: center;
  justify-content: center;
}

header,
.homePage,
#content,
.oneMoreCoffeeImg {
  max-width: 100%;
}

/* Page Structure */
.aboutContent,
.menuContent {
  justify-content: center;
  margin: 230px 0 50px 0;
}


/* Page Background */
.aboutPage,
.menuPage,
.locationPage,
.contactPage {
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Page Container */
.aboutUs,
.coffeeMenu,
.ourLocations {
  flex-direction: column;
  height: max-content;
  background-color: rgba(109, 108, 108, 0.5);
  border: 1px solid #333;
  border-radius: 20px;
}

/* Content Container */
.aboutContainer,
.coffeeContainer {
  margin: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(68, 68, 68, 0.95);
  box-shadow: 0px 0px 4px 2px #fff;
  height: max-content;
  max-width: 100%;
}

/* Buttons/Links */
.home:hover,
.about:hover,
.menu:hover,
.contact:hover,
.location:hover,
.locationPageIcon:hover,
.sendMailIcon:hover,
.closeEmailIconContainer > img:hover,
.closeMapIconContainer > img:hover {
  cursor: pointer;
}

/* NAVBAR */
header {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 80px;
  display: flex;
  justify-content: center;
  min-height: 70px;
  height: 100px;
  background-color: rgba(109, 108, 108, 0.5);
}

nav {
  justify-content: center;
  height: 100%;
  width: 100%;
}
  
button {
  padding: 5px;
  margin: 20px;
  font-family: "Signatura";
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  background: none;
  border: none;
}
  
.home:hover,
.about:hover,
.menu:hover,
.location:hover,
.contact:hover {
  color: rgb(235, 133, 0);
  cursor: pointer;
  font-size: 3.1rem;
}

.active {
  color: rgb(0, 185, 43);
}

/* HOME PAGE */
.homePage {
  height: 100vh;
  background-image: url("../img/oneMoreCoffeeCup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* ABOUT PAGE */
.aboutPage {
  background-image: url("../img/oneMoreStreet.jpg");
}

.aboutUs {
  width: 90vw;
  max-width: 1000px;
  margin: 20px 0 50px 0;
}

.aboutContainer > img {
  padding: 20px 0 20px 20px;
}

/* .aboutContainer {
  margin: 20px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(68, 68, 68, 0.95);
  box-shadow: 0px 0px 4px 2px #fff;
  height: max-content;
  max-width: 100%;
} */

.aboutTextContainer {
  flex-direction: column;
  font-family: "Chillax";
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.aboutTextContainer > h3,
.aboutTextContainer > p {
  font-family: "Chillax";
  font-style: italic;
}

.aboutTextContainer > h3 {
  font-size: 1.5rem;
}

/* MENU PAGE */
.menuPage {
  background-image: url("../img/oneMoreMenu.jpg");
}

.coffeeMenu {
  width: 90vw;
  max-width: 800px;
  margin: 20px 0 50px 0;
}

/* .coffeeContainer {
  margin: 20px;
  color: #fff;
  background-color: rgba(109, 108, 108, 0.5);
  height: max-content;
  max-width: 100%;
} */

.coffeeContainer > img {
  width: 10vw;
  max-width: 60px;
  border-radius: 50%;
  margin: 20px;
}

.menuTextContainer {
  width: 60vw;
  max-width: 640px;
}

.price,
.menuTextContainer > h3,
.menuTextContainer > p {
  font-family: "Chillax";
  font-style: italic;
}

.price,
.menuTextContainer > h3 {
  font-size: 1.5rem;
}

.price {
  width: 30vw;
  max-width: 100px;
  padding-right: 10px;
  text-align: end;
  margin: 0 auto;
}

/* LOCATIONS */
.locationPage {
  position: relative;
  max-height: 100%;
  background-image: url("../img/locationBkg.jpg");
}

.locationContent {
  width: 70vw;
  justify-content: center;
  color: #fff;
  margin: 50px 0 100px 0;
}

.videoContainer {
  justify-content: center;
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
}

.videoBkg {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.ourLocations {
  width: 70vw;
}

.locationContainer {
  justify-content: space-between;
  margin: 20px;
  background-color: rgba(52, 52, 52, 0.9);
}

.locationContainer,
.cafeLocationContainer {
  padding: 0 20px 0 10px;
}

.cafeImg {
  margin: 20px 0;
}

.textContainer h4 {
  width: 55px;
}

.textContainer p {
  font-size: 0.8rem;
  padding: 0 10px;
}

.locationTextContainer {
  flex-direction: column;
  font-family: "Chillax";
  font-size: 1rem;
  padding: 10px;
}

.iconContainer {
  justify-content: center;
}

.locationPageIcon {
  margin: 0 10px 0 0;
}

.emailContainer,
.mapContainer {
  flex-direction: column;
  position: absolute;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  background-color: rgba(52, 52, 52, 0.9);
  padding: 20px;
  border-radius: 20px;
}

.closeEmailIconContainer,
.closeMapIconContainer {
  justify-content: end;
}

.closeEmailIconContainer > img,
.closeMapIconContainer > img {
  height: 40px;
  margin-bottom: 20px;
}


/* CONTACT PAGE */
.contactPage {
  background-image: url("../img/oneMoreContact.jpg");
}

/* FOOTNOTE */
.ics-container {
  justify-content: end;
  gap: 5px;
  position: fixed;
  bottom: 0;
  right: 10px;
}
  
.ics-img {
  height: 25px;
}
  
.ics-p {
  color: #fff;
  font-family: "Chillax";
  font-style: italic;
}

/* MEDIA QUERIES */
@media (max-width: 880px) {
  .aboutTextContainer {
   height: 200px;
  }
  .aboutContainer > img {
    padding: 0 0 0 20px;
  }
  .locationContainer {
    flex-direction: column;
    padding: 20px 0 0 0;
    align-items: start;
  }
  .cafeLocationContainer {
    padding: 0 20px;
    width: 100%;
  }
  .cafeImg {
    margin: 0;
    width: 210px;
    height: 140px;
  }
  .locationTextContainer {
    padding-left: 30px;
  }
  .locationPageIcon,
  .sendMailIcon {
    margin: 20px 10px;
  }
  .locationPageIcon {
    margin-left: 45px;
  }
}

@media (max-width: 750px) {
  .aboutTextContainer {
   height: 250px;
  }
  .aboutTextContainer > h3 {
    font-size: 1.3rem;
  }
  .aboutTextContainer > p {
    font-size: 1rem;
  }
  .cafeLocationContainer {
    flex-direction: column;
  }
  .cafeImg {
    width: 300px;
    height: 200px;
  }
  .locationContainer {
    align-items: center;
  }
  .locationPageIcon {
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .aboutContainer {
   flex-direction: column;
  }
  .aboutContainer > img {
    padding: 20px 20px 0 20px;
    height: 65vw;
    width: 90vw;
    max-width: 100%;
    overflow: hidden;
  }
  .price,
  .menuTextContainer > h3 {
    font-size: 1.3rem;
  }
  .menuTextContainer > p {
    font-size: 1rem;
  }
  .cafeImg {
    width: 50vw;
    height: 33vw;
  }
  button {
    margin: 20px 10px;
    font-size: 2.5rem;
  }
}